@charset "utf-8";

/* ================

レイアウトの設定

================ */



/* ここから */

span.noto {
  background-color: yellow;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 48px;
}

span.gloria {
	background-color: yellow;
	font-family: "Gloria Hallelujah", cursive;
	font-size: 48px;
}

/* ここまで */
